@import "../plugins/bower/bourbon/app/assets/stylesheets/bourbon"

//$default-font: "roboto", sans-serif
//$accent: orange
$default-color: #465c92
$white: #fff
$black: #000
$bg-c1: #33383c
$bg-c2: #2a2f33
$text-c1: #dddddd
$light-line: #555555
$hover-art: #2b4951
$hr: #aeaeae
$link-c1: #072894
$gray: #8d8d8d
$link-hover-slider: #2f4785
$link-bg-hv-sl: #072287
$link-h-news-v: #1042c1
$link-h-block: #0b2c97
$social-foot-t: #bcbcbc
$contact-foot: #ededed
$icon-foot: #8f9299
$color-header-aside-bar: #2a2f33
$data-c: #aaaaaa
$block-about: #7e7e7e
$border-bottom-aside: #e8e8e8
$hr-aside-c: #c6c6c6